/*  Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF2333C - red

#202224 - black
#DBDBD6 - gray
#F3EDCF - emerald
#58564A - muddy-green
#8E8670 - swamp-green

*/


/*  Global styles
------------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
}

h3 {
  margin: 0;
}

a{
  color: #58564A;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}



.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background: #58564A;
  color: white;
  padding: 10px;
  display: inline-block;
}


/*  Header and Footer
------------------------------*/
header, footer {
  background: #DBDBD6;
  color: #202224 ;
}

/* header  */

header {
  padding-top: 50px;
  position: relative;
}

.profile-img {
/*  width: 300px; */
  border-radius: 50%;
/*  float: left; */
/*  margin-right: 30px; */
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
}


header h1, header h2 {
  color: #202224;
  margin: 0;
}

/* footer */
footer {
  text-align: center;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}

/*  Work Experience
------------------------------*/
.work{
  background: #EDF2F4 ;
}

h3 ~ p {
  margin: 0;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top: 0;
}

/*  Work Experience
------------------------------*/
nav {
  text-align: center;
  background: #202224;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #F3EDCF;
}

nav a:hover{
  color:white;
}



/*  Education
------------------------------*/
.education {

  background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)), url(../images/toronto.jpg) no-repeat fixed;
  background-size: cover;
}

p + h3 {
  margin-top: 30px;
}

/*  Media Queries
------------------------------*/
@media(min-width: 900px){
  .col-narrow {
    width: 35%;
    float: left;
    padding-right: 3%;
    /* border: 1px solid black; */
  }

  .col-wide {
    width: 62%;
    float: left;
  }
}

@media(max-width: 899px){
  header{
    text-align: center;
  }
  .profile-img{
    width: 200px;
  }
}
